.tempContainer {
    background-color: var(--colors-white);
    padding: var(--spacers-dp16);
}

.collapsibleCardWrapper{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.categoryCard {
    margin-block: 8px;
    padding: 8px;
    background-color: var(--colors-grey100);
    border: 1px solid var(--colors-grey400);
    border-radius: 4px;
}

.categoryHeader {
    display: flex;
    align-items: center;
    margin-block: 8px;
    justify-content: space-between;
}

.categoryText {
    font-size: 16px;
}

.categoryName {
    font-size: 16px;
    font-weight: 600;
}

.categoryTitleContainer {
    display: flex;
    align-items: center;
}

.categoryCardDeleted {
    margin-block: 8px;
    padding: 12px;
    background-color: var(--colors-red050);
    border: 1px solid var(--colors-red200);
    border-radius: 4px;
}

.deletedCategoryText {
    color: var(--colors-red800);
    font-size: 15px;
    margin-block-end: var(--spacers-dp8);
}

.categoryCardSuggested {
    margin-block: 8px;
    padding: 8px;
    background-color: var(--colors-grey100);
    border: 1px dashed var(--colors-grey400);
    border-radius: 4px;
}

.categoryCardSuggested div {
    margin-block-end: 8px;
}

.suggestedExplanationText {
    display: flex;
    align-items: center;
    gap: 4px;
}
