.collapsibleList {
    padding-block-start: var(--spacers-dp16);
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp16);
}

.mappingList {
    padding-inline-start: var(--spacers-dp16);
    padding-block-start: var(--spacers-dp4);
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp8);
    margin-block-end: var(--spacers-dp16);
}

.mappingFields {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp16);
}

.mappingSelectWrapper {
    display: flex;
    gap: var(--spacers-dp8);
    width: 100%;
    align-items: center;
}

.mappingSelectWrapper > div {
    flex-grow: 1;
}

.mappingSelectAddMappingButton {
    /* offset due to label in SingleSelectField */
    margin-block-start: 20px;
}
