.container {
    min-width: fit-content;
    max-width: 70%;
    padding: 1rem;
    border: 1px solid var(--colors-grey400);
    border-radius: 4px;
    border-left: 5px solid var(--colors-grey400);
}

.expressionBox {
    background-color: #f4f4f4;
    font-family: monospace;
    font-size: 14px;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    display: inline-block;
    white-space: pre-wrap;
    max-width: 100%;
    word-break: break-word;
}

.expression {
    margin-bottom: 0.5rem;
}
.expressionHiddenInput > :first-child {
    display: none;
}
.buttonWrapper {
    margin-bottom: 1rem;
}

.descriptionField {
    margin-top: 1rem;
}
