.bulkSharingWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp8);
}

.fieldWrapper {
    flex-shrink: 0;
    flex-basis: 160px;
    flex-grow: 1;
    max-width: 250px;
}

.subtitle {
    font-size: 14px;
}

.selectionWrapper {
    display: flex;
    gap: var(--spacers-dp4);
    background-color: var(--colors-red050);
    padding: var(--spacers-dp12);
    align-items: flex-end;
}
