.sectionsWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.sectionsWrapper > :first-child {
    overflow-y: auto;
    padding: var(--spacers-dp24);
}

.actionsInfo {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp4);
    color: var(--colors-grey600);
}
