.listHeaderNormal {
    background-color: #fff;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    height: 48px;
    padding: var(--spacers-dp8);
    gap: var(--spacers-dp8);
    /* Removing default border that offsets LinkButton by 1px, recreating with inset shadow */
    border: none !important;
    box-shadow: inset 1px 0 0 0 var(--colors-grey300),
        inset -1px 0 0 0 var(--colors-grey300),
        inset 0 1px 0 0 var(--colors-grey300);
}

.listHeaderNormal a {
    line-height: var(--spacers-dp16);
}

.listHeaderBulk {
    background-color: var(--colors-teal050);
    color: var(--colors-teal900);
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    height: 48px;
    padding: var(--spacers-dp8);
    gap: var(--spacers-dp8);
    border: 2px solid var(--colors-teal800) !important;
}
