.listHeaderNormal {
    background-color: #fff;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    height: 48px;
    padding: var(--spacers-dp8);
    gap: var(--spacers-dp8);
}

<<<<<<< HEAD
.listToolbarWrapper {
    display: flex;
    flex-direction: column;
    grid-area: 'list';
=======
.list {
    grid-area: list;
}

.listToolbarWrapper {
    display: flex;
    flex-direction: column;
    grid-area: list;
>>>>>>> master
}

.listDetailsWrapper {
    display: grid;
    grid-template-columns: 1fr auto;
<<<<<<< HEAD
    grid-template-rows: none;
    grid-template-areas: 'list details';
=======
    grid-template-rows: auto;
    grid-template-areas:
        'header details'
        'list details';
>>>>>>> master
    margin-top: var(--spacers-dp8);
}

@media (max-width: 1200px) {
    .listDetailsWrapper {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;
<<<<<<< HEAD
        grid-template-areas: 'list' 'details';
=======
        grid-template-areas:
            'header'
            'list'
            'details';
>>>>>>> master
        margin-top: var(--spacers-dp8);
    }
}

.listHeaderNormal a {
    grid-area: header;
    line-height: var(--spacers-dp16);
}

.listRow td {
    padding-top: var(--spacers-dp8);
    padding-bottom: var(--spacers-dp8);
}

.listRow.active td {
    background-color: var(--colors-grey200);
}

.listActions {
    display: flex;
    gap: var(--spacers-dp8);
}

.listActions button {
    padding: 0 2px !important;
}

.listEmpty {
    text-align: center;
}
