.treeSelectedListWrapper {
    display: flex;
    gap: var(--spacers-dp8);
    max-height: 800px;
}

.wrapper {
    flex: 1 1 60%;
    padding: var(--spacing-2dp);
    max-width: 640px;
    border: 1px solid var(--colors-grey300);
    border-radius: 1px;
}

.treeWrapper {
    max-height: 750px;
    overflow: auto;
}

.toolbarWrapper {
    padding: var(--spacers-dp8);
    border-block-end: 1px solid var(--colors-grey300);
    display: flex;
    gap: var(--spacers-dp8);
    justify-content: space-between;
    align-items: center;
}

.searchField {
    flex: 1;
}
