.form {
    background: var(--colors-white);
    border: 1px solid var(--colors-grey300);
    padding: var(--spacers-dp16);
    padding-bottom: calc(
        var(--spacers-dp32) + 60px
    ); /* Extra padding for fixed footer */
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp16);
}

.formActions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding: var(--spacers-dp8) var(--spacers-dp16);
    box-shadow: 0px 0px 1px 0px rgba(33, 41, 52, 0.1),
        0px -4px 6px -1px rgba(33, 41, 52, 0.1),
        0px -2px 4px -1px rgba(33, 41, 52, 0.06);
    background: var(--colors-white);
    display: flex;
    align-items: center;
    gap: var(--spacers-dp16);
    z-index: 100;
}
