.basicFormDetails {
    padding: var(--spacers-dp16);
    background-color: var(--colors-grey100);
    border-radius: 5px;
    margin-block-start: var(--spacers-dp16);
    max-width: 720px;
    display: flex;
    gap: 0;
    flex-direction: column;
}

.basicFormDescription {
    color: var(--colors-grey700);
    padding: 0;
    margin: 0 0 var(--spacers-dp12) 0;
}

.hidden {
    display: none;
}

.sectionWarningNotice {
    margin-top: var(--spacers-dp12);
    max-width: 720px;
}
