.container {
    display: flex;
    gap: var(--spacers-dp8);
    padding: var(--spacers-dp8);
    border-radius: 3px;
    border: 1px solid var(--colors-grey500);
    background: var(--colors-white);
    width: 68px;
    cursor: pointer;
    align-items: center;
}

.chosenColor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    border: 1px dashed var(--colors-grey400);
    border-radius: 2px;
}

.hasColor .chosenColor {
    border: 0;
}

.openCloseIconContainer {
    display: flex;
    align-items: center;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp8);
    background: white;
    padding: var(--spacers-dp8);
    border-radius: 3px;
    border: 1px solid var(--colors-grey400);
    box-shadow: var(--elevations-e300);
}
/* Hide the box-shadow in CompactPicker */
.colors > div > div {
    box-shadow: none !important;
}

/* Hide the hex/RGB input fields in CompactPicker */
.colors :global(.compact-picker) > div:last-child {
    display: none !important;
}
