.container {
    display: flex;
    padding: var(--spacers-dp4) var(--spacers-dp4) var(--spacers-dp4)
        var(--spacers-dp8);
    border-radius: 3px;
    border: 1px solid var(--colors-grey500);
    background: var(--colors-white);
    cursor: pointer;
    align-items: center;
}

.label {
    font-size: 13px;
    color: var(--colors-grey600);
    margin-inline-end: 6px;
}

.colorSwatch {
    height: 24px;
    width: 24px;
    margin-inline-end: var(--spacers-dp4);
    flex-shrink: 0;
}

.chosenColor {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.emptyColor {
    display: block;
    fill: var(--colors-grey400);
    width: 100%;
    height: 100%;
}

.openCloseIconContainer {
    display: flex;
    align-items: center;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp8);
    background: white;
    padding: var(--spacers-dp8);
    border-radius: 3px;
    border: 1px solid var(--colors-grey400);
    box-shadow: var(--elevations-e300);
}
/* Hide the box-shadow in CompactPicker */
.colors > div > div {
    box-shadow: none !important;
}

/* Hide the hex/RGB input fields in CompactPicker */
.colors :global(.compact-picker) > div:last-child {
    display: none !important;
}
