.container {
    display: flex;
    gap: var(--spacers-dp8);
    padding: var(--spacers-dp8);
    border-radius: 3px;
    border: 1px solid var(--colors-grey500);
    background: var(--colors-white);
    width: 68px;
    cursor: pointer;
}

.chosenIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    border: 1px dashed var(--colors-grey400);
    border-radius: 2px;
}

.hasIcon .chosenIcon {
    border: 0;
    border-radius: 0;
}

.iconImage {
    display: block;
    width: 100%;
    height: auto;
}

.openCloseIconContainer {
    display: flex;
    align-items: center;
}
