.tabBar {
    position: sticky;
    top: 0;
    display: flex;
    gap: var(--spacers-dp8);
    padding: 0 0 var(--spacers-dp8) 0;
    background: var(--colors-white);
}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.iconMessage {
    width: 100%;
    align-self: center;
    text-align: center;
}

.iconsContainer {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--spacers-dp8);
    padding: var(--spacers-dp8);
    height: 450px;
}

.iconContainer {
    cursor: pointer;
}

.active,
.iconContainer.active:hover {
    outline: var(--colors-teal500) solid 3px;
}

.iconContainer:hover {
    outline: var(--colors-grey600) solid 3px;
}

.iconImage {
    display: block;
    height: 48px;
    width: 48px;
}

.iconsLoading {
    margin: 0 auto;
}

.emptyIconSearchMessage {
    font-size: 14px;
    padding: var(--spacers-dp24);
    color: var(--colors-grey600);
}
