.row {
    display: flex;
    flex-direction: column;
    border-block-end: 1px solid var(--colors-grey400);
    padding-block: 10px;
}

.rowStart {
    composes: row;
    padding-inline-end: 10px;
}

.field {
    padding-inline-end: 10px;
}

.baseLocale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colors-grey200);
    color: var(--colors-grey600);
    padding-block: 5px;
    padding-inline: 10px;
}
.translateableFields {
    display: flex;
    align-items: center;
    width: 100%;
}

.formSection {
    width: 50%;
}

.notice {
    margin-block-end: 15px;
}

.warnText {
    color: var(--colors-grey600);
    width: 70%;
    text-align: center;
    font-size: 14px;
}

.SingleSelectField {
    width: 50%;
}
