.expandButton {
    border: 0 !important;
}

.listDetailsWrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header details'
        'list details';
    margin-top: var(--spacers-dp8);
}

@media (max-width: 1200px) {
    .listDetailsWrapper {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;
        grid-template-areas:
            'header'
            'list'
            'details';
        margin-top: var(--spacers-dp8);
    }
}
