.noMatchMessage {
    font-size: 13px;
    line-height: 17px;
    color: var(--colors-grey500);
    text-align: center;
    padding: var(--spacers-dp16) var(--spacers-dp8);
    max-width: 100%;
    word-break: break-word;
}

.asideWrapper {
    --animation-duration: 0.3s;
    transition: ease width, max-height, visibility, var(--animation-duration);
    position: relative;
    overflow-x: hidden;
    /* min-width: 52px; */
}

.asideWrapper.collapsed {
    width: 52px;
}

.asideWrapper nav {
    /* minWidth to prevent content-wrapping during collapse */
    min-width: 240px;
    transition: opacity ease var(--animation-duration), visibility ease 0.5s;
}

.collapsed nav {
    opacity: 0;
    visibility: hidden;
}

.iconWrapper {
    display: flex;
    align-items: center;
}
.iconWrapper svg {
    transition: var(--animation-duration);
}

.collapsed svg {
    transform: rotate(180deg);
}

[dir='rtl'] .iconWrapper svg {
    transform: rotate(180deg);
}

[dir='rtl'] .iconWrapper.collapsed svg {
    transform: rotate(0);
}

.collapseButton {
    transition: ease var(--animation-duration);
    visibility: visible;
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin: var(--spacers-dp8);
    background-color: color-mix(
        in srgb,
        var(--sidenav-dark-bg-hover),
        white 10%
    );
    color: var(--colors-grey050);
    border-radius: 4px;
    border: none;
}

.collapsed .collapseButton {
    inset-inline-end: 0px;
}

@media (max-width: 768px) {
    .asideWrapper {
        /* prevent menu from scrolling outside if list-content extends past viewport*/
        max-width: calc(100vw - 14px) !important;
        height: max-content;
    }
    .asideWrapper.collapsed {
        width: 100%;
        max-height: 52px;
        overflow-x: unset;
    }

    [dir='rtl'] .iconWrapper svg,
    .iconWrapper svg {
        transform: rotate(90deg);
    }
    [dir='rtl'] .iconWrapper.collapsed svg,
    .iconWrapper.collapsed svg {
        transform: rotate(-90deg);
    }
}
