.noMatchMessage {
    font-size: 13px;
    line-height: 17px;
    color: var(--colors-grey500);
    text-align: center;
    padding: var(--spacers-dp16) var(--spacers-dp8);
    max-width: 100%;
    word-break: break-word;
}
