
.noMatchMessage {
    font-size: 14px;
    line-height: 19px;
    color: var(--colors-grey200);
    text-align: center;
    padding: var(--spacers-dp24) var(--spacers-dp12);
    max-width: 100%;
    word-break: break-word;
}