.form {
    background: var(--colors-white);
    padding: var(--spacers-dp16);
    padding-bottom: var(--spacers-dp32);
}

.formActions {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: var(--spacers-dp16);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    background: var(--colors-white);
}

.saveButtonLoadingIcon {
    display: block;
    margin-right: 8px;
}
