.sidebar {
    overflow: auto;
    height: 100%;
}

.sidebarSecondary {
    background-color: var(--colors-grey200);
    padding: var(--spacers-dp16) var(--spacers-dp8);
}

.listItem {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px var(--spacers-dp12);
    border-radius: 5px;
    color: var(--colors-grey700);
    font-size: 14px;
    cursor: pointer;
}

.listItem:hover {
    background-color: rgba(20, 124, 215, 0.05);
}

.listItem.selected {
    background-color: rgba(20, 124, 215, 0.1);
    color: var(--colors-blue900);
    font-weight: 600;
    cursor: initial;
}
