.sections {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp24);
}

.sections section {
    background-color: var(--colors-white);
    padding: 16px;
}

.footerWrapper {
    display: flex;
    gap: var(--spacers-dp16);
    height: 100%;
    align-items: center;
}

.sectionActions {
    display: flex;
    gap: var(--spacers-dp8);
    width: var(--sidebar-width);
    height: 100%;
    border-inline-end: 1px solid var(--colors-grey300);
    display: flex;
    align-items: center;
    padding-inline: var(--spacers-dp16);
}

.verticalDivider {
    align-self: stretch;
    width: 0;
}

.formActions {
    display: flex;
    gap: 8px;
}

.bottomErrorNoticeWrapper {
    margin-top: auto;
    position: sticky;
    inset-block-end: 0;
    padding: var(--spacers-dp16);
    z-index: 1;
}
.bottomNoticeBox {
    max-width: 640px;
    max-height: 300px;
    overflow-y: auto;
}

.bottomNoticeBox > div {
    /* width: 100%; */
}
