.sidebar {
    overflow: auto;
    height: 100%;
}

.listItem {
    box-shadow: 0px -1px 0px 0px var(--colors-grey300) inset;
    border-radius: 6px;
    padding: var(--spacers-dp16);
    gap: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.listItem:hover {
    background-color: var(--colors-grey300);
}

.listItem.selected {
    background-color: var(--colors-blue200);
    cursor: initial;
}
