@value m-medium: (min-width: 768px);

.layoutWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}
.layoutGrid {
    --sidebar-width: 240px;
    display: grid;
    height: 100%;
    grid-template-areas: 'sidebar' 'main';
    overflow: auto;
    column-gap: var(--spacers-dp16);
}
.main {
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.sidebar {
    grid-area: sidebar;
    min-width: var(--sidebar-width);
    height: 100%;
}

@media m-medium {
    .layoutGrid {
        height: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 'sidebar main';
    }
    .sidebar {
        overflow: auto;
    }
    .main {
        overflow-y: auto;
    }
}
