.sectionsWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.sectionsWrapper > div:first-child {
    flex: 1;
}

.errorNoticeWrapper {
    margin: var(--spacers-dp16);
}

.displayModeOptions {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp4);
}
.pivotedCategorySelector {
    margin: var(--spacers-dp4) var(--spacers-dp16);
}
.dataElementsTransferHeader {
    padding-block: var(--spacers-dp8);
}
.dataElementsTransferHeader > :first-child {
    margin-top: var(--spacers-dp8);
}

.dataElementsManageAction {
    text-align: end;
}

.dataElementsManageAction > button {
    margin: var(--spacers-dp8) 0;
    width: fit-content;
}
