.sectionsWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.sectionsWrapper > div:first-child {
    flex: 1;
}

.stageFormFooter {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp16);
}

.actionsInfo {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp4);
    color: var(--colors-grey600);
}

.actionsInfo p {
    margin: 0;
}

.displayModeOptions {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp4);
}
