.organisationUnitSelectorWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp16);
}

.organisationUnitSelectorRhs {
    border: 1px solid var(--colors-grey300);
    border-radius: 3px;
    width: 640px;
    max-height: 800px;
    overflow: auto;
    padding: var(--spacers-dp8) var(--spacers-dp16);
    color: var(--colors-grey700);
    background-color: var(--colors-grey200);
}

.organisationUnitSelectorRhs > p {
    margin: var(--spacers-dp8);
}
