.drawerRoot {
    position: relative;
}

.drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.drawerOverlay.open {
    opacity: 1 !important;
    pointer-events: auto;
}

.drawer {
    height: 100%;
    background-color: var(--colors-white);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.drawerPrimary {
    width: 90%;
}

.drawerSecondary {
    width: 80%;
}

.drawer.open {
    transform: translateX(0);
}
