.drawerFooter {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp16);
}

.actionsInfo {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp4);
    color: var(--colors-grey600);
}

.actionsInfo p {
    margin: 0;
}
