.breadcrumbWrapper {
    padding: var(--spacers-dp8) var(--spacers-dp16);
    background: var(--colors-white);
    box-shadow: 0 0 0 1px var(--colors-grey400),
        0 1px 5px rgba(33, 41, 52, 0.05), 0 0 40px rgba(33, 41, 52, 0.015);
    position: sticky;
    top: 0;
    z-index: 1;
}

.breadcrumbItem {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.breadcrumbItemLink {
    composes: breadcrumbItem;
    color: var(--colors-blue600);
    text-decoration: none;
    font-weight: 400;
}

span.breadcrumbItemLink {
    cursor: pointer;
}

.breadcrumbItemLink:hover {
    text-decoration: underline;
    color: var(--colors-blue700);
}

.breadcrumbItemLink:active {
    text-decoration: underline;
    color: var(--colors-blue900);
}

.breadcrumbItemLink:focus {
    outline: 1px solid var(--colors-blue600);
}

.separator {
    font-size: 14px;
    line-height: 18px;
    color: var(--colors-grey800);
    padding: 0 4px;
}
