.breadcrumbWrapper {
    margin-bottom: 8px;
}

.breadCrumbItem {
    font-size: 14px;
    line-height: 18px;
}

.breadcrumbItemLink {
    composes: breadCrumbItem;
    color: var(--colors-blue600);
    text-decoration: none;
}

span.breadcrumbItemLink {
    cursor: pointer;
}

.breadcrumbItemLink:hover {
    text-decoration: underline;
    color: var(--colors-blue700);
}

.breadcrumbItemLink:active {
    text-decoration: underline;
    color: var(--colors-blue900);
}

.breadcrumbItemLink:focus {
    outline: 1px solid var(--colors-blue600);
}

.separator {
    font-size: 14px;
    line-height: 18px;
    color: var(--colors-grey800);
    padding: 0 4px;
}
