@value m-medium: (min-width: 768px);

:global a {
    color: initial;
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-areas: 'sidebar' 'main';
    line-height: 20px;
    font-size: 14px;
    height: 100%;
    background: var(--colors-grey900);
    grid-template-rows: auto 1fr;
    overflow: auto;
}
.wrapperWithFooter {
    composes: wrapper;
    grid-template-areas: 'sidebar' 'main' 'footer';
    grid-template-rows: auto 1fr 68px;
    overflow-y: auto;
}

.main {
    padding: var(--spacers-dp16);
    padding-bottom: 0px;
    grid-area: main;
    background-color: var(--colors-grey100);
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar.hide {
    width: 0px;
    height: 0px;
}

.footerPlaceholder {
    grid-area: footer;
    width: 100vw;
    padding: var(--spacers-dp16) 0;
    background: var(--colors-white);
}

@media m-medium {
    .wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: none;
        grid-template-areas: 'sidebar   main';
    }
    .wrapperWithFooter {
        grid-template-areas: 'sidebar main' 'footer footer';
        grid-template-rows: 1fr 68px;
    }
    .sidebar {
        width: 240px;
        overflow: auto;
    }
    .main {
        overflow-y: auto;
    }
}
