@value m-medium: (min-width: 768px);

.wrapper {
    display: grid;
    grid-template-areas: 'sidebar' 'main';
    line-height: 20px;
    font-size: 14px;
}

@media m-medium {
    .wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 240px auto;
        grid-template-areas:
            'sidebar   main';
    }
}


.main {
    padding: 16px;
    overflow: hidden;
    grid-area: main;
    background-color: var(--colors-grey100);
}

.sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    height: 100%;
    background: var(--colors-grey900);
}
