.versionFieldRow {
    width: 100px;
    display: flex;
    align-items: center;
    gap: var(--spacers-dp8);
}

.expiryDaysRow {
    display: flex;
    align-items: flex-start;
    gap: var(--spacers-dp16);
    padding-left: var(--spacers-dp24);
    padding-top: var(--spacers-dp8);
}

.devNote {
    display: block;
    margin-top: var(--spacers-dp4);
    font-size: 12px;
    color: var(--colors-grey700);
}
