.versionFieldRow {
    width: 100px;
    display: flex;
    align-items: center;
    gap: var(--spacers-dp8);
}

.setupCheckboxBlock {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.expiryDaysRow {
    display: flex;
    align-items: flex-start;
    gap: var(--spacers-dp16);
    padding-left: var(--spacers-dp24);
    padding-top: var(--spacers-dp8);
}

.devNote {
    display: inline;
    font-size: 12px;
    color: var(--colors-grey700);
    font-weight: 400;
    margin-left: var(--spacers-dp8);
}
