

.header {
    font-size: 28px;
    color: var(--colors-grey900);
    line-height: 40px;
    padding-bottom: 2px;
}

.summary {
    max-width: 720px;
    color: var(--colors-grey700);
    padding-bottom: 24px;
    line-height: 20px;
    font-size: 14px;
}