.modelTransferField {
    width: 100%;
}

.modelTransferFooter {
    padding: var(--spacers-dp8) 0;
}

.modelTransferHeader {
    padding-block: var(--spacers-dp8);
    padding-inline: var(--spacers-dp4);
}

.modelTransferHeaderWithUnassignedFilter {
    padding-block: var(--spacers-dp8);
    padding-inline: var(--spacers-dp4);
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp8);
}
