.editableFieldWrapper {
    display: flex;
    gap: 8px;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 8px;
    align-items: center;

    white-space: nowrap;
}
