body {
    /**
     * Some pages don't have a scroll bar,
     * so switching from one page to another might make the content jump.
     * By setting overflow-y to scroll, there's always a scrollbar which
     * prevents the jumping behavior
     */
    overflow-y: scroll;
}

.maintenanceApp {
    background: #f3f3f3;
    flex-grow: 1;
}
