.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.contentWithSidebar {
    grid-template-areas:
      'sidebar'
      'content';
}

.contentOnly {
    padding: 0 5px;
    grid-template-areas: 'content';
}

@media (min-width: 400px) {
    .contentOnly {
        padding: 0 20px;
    }
}

@media screen and (min-width: 768px) {
    .contentWithSidebar {
        grid-template-columns: 300px auto;
        grid-template-areas: 'sidebar content';
    }

    .contentOnly {
        padding: 0 40px;
    }
}
